body {
    max-width: 600px;
    background-image: url(table.png);
    background-size:cover;
    color: rgb(255, 255, 255);
    font: bold 24px "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
}

h1 {
    color: rgb(228, 183, 4);
    font-size: 40px;
    margin: 40px;
}

#message-el {
    font-style: italic;
}

div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

button {
    background-color: rgb(228, 183, 4);
    font: bold 20px "Trebuchet MS", sans-serif;
    color: rgb(0, 124, 58);
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 6px rgb(252, 252, 252);
}

button:hover {
    background-color: rgb(158, 127, 0);
}

button:active {
    background-color: rgb(158, 127, 0);
    box-shadow: 0 2px rgb(201, 200, 200);
    transform: translateY(4px);
}