body {
    margin: 0px;
    padding: 10px;
    font: normal 16px Arial, Helvetica, sans-serif;
    min-width: 400px;
}

* {
    box-sizing: border-box;
}

input {
    font: inherit;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(82, 139, 67);
}

input:after {
    background-color: rgb(150, 184, 192);
}

button {
    font: bold 16px "Trebuchet MS", Helvetica, sans-serif;
    display: block;
    padding: 10px 20px;
    margin: 5px 0px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(82, 139, 67);
}

button:hover {
    background-color: rgb(47, 73, 40);
}

button:active {
    transform: translateY(3px);
    background-color: rgb(47, 73, 40);
}

ul {
    font-weight: bold;
    padding: 0;
    margin: 20px 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
}

a:link {
    color:rgb(82, 139, 67);
}

a:hover {
    border: none;
}

a:visited {
    color:rgb(47, 73, 40);
}